@import './_scss/variables';

body,
html {
  height: 100%;
  font-family: 'Exo 2', sans-serif;
}

body {
  @include display-flex;
  @include flex-direction(column);
}

.i18n-flag img {
  height: 14px;
}
.navbar-fixed {
  a {
    font-size: 1.4rem;
  }
}
.sidenav {
  .languages {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 100px;
    margin: 0 10px;
    .i18n-flag {
      margin: 0 10px;
    }
  }
}

main {
  @include display-flex;
  @include flex-direction(column);
  @include flex(1 0 auto);
}

#include-terms {
  padding: 0 10px;
}

nav ul a {
  padding: 0 12px;
}

button {
  font-family: 'Exo 2', sans-serif;
}

.brand-logo {
  margin-top: 5px;
  overflow: hidden;

  @media #{$medium-and-up} {
    margin-top: 8px;
  }

  .img {
    height: 45px;
    display: block;

    @media #{$medium-and-up} {
      height: 50px;
    }
  }
}

.logo {
  width: 90%;

  @media #{$medium-and-up} {
    width: 65%;
  }
}

nav .sidenav-trigger {
  margin: 0 10px;
}

.background-mask {
  background-size: cover;
  background-position: center center;
  background-color: rgba(color("primary", "base"), 0.6);
}

.footer {
  @include display-flex;
  @include flex-direction(row);
  @include justify-content(space-between);
  @include flex(1 0 auto);

  @media #{$large-and-up} {
    @include justify-content(flex-end);
  }
}

#include-terms {
  ol {
    padding: 0 20px;
  }
}
