@import './_scss/variables';

body,
html {
  height: 100%;
  font-family: 'Exo 2', sans-serif;
}

body {
  @include display-flex;
  @include flex-direction(column);
}

.i18n-flag img {
  height: 14px;
  margin: 0 10px;
}

.navbar-fixed {
  a {
    font-size: 1.4rem;
  }
}

.sidenav {
  .languages {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 100px;
    margin: 0 10px;
  }
}

main {
  @include display-flex;
  @include flex-direction(column);
  @include flex(1 0 auto);
}

#include-terms {
  padding: 0 10px;
}

nav ul a {
  padding: 0 12px;
}

button {
  font-family: 'Exo 2', sans-serif;
}

.brand-logo {
  margin-top: 5px;
  overflow: hidden;

  @media #{$medium-and-up} {
    margin-top: 8px;
  }

  .img {
    height: 45px;
    display: block;

    @media #{$medium-and-up} {
      height: 50px;
    }
  }
}

.logo {
  width: 90%;

  @media #{$medium-and-up} {
    width: 65%;
  }
}

nav .sidenav-trigger {
  margin: 0 10px;
}

.background-mask {
  background-size: cover;
  background-position: center center;
  background-color: rgba(color("primary", "base"), 0.2);
}

.footer {
  @include display-flex;
  @include flex-direction(row);
  @include justify-content(space-between);
  @include flex(1 0 auto);

  .footer-links {
    @include display-flex;
    @include flex-direction(row);
    @include justify-content(space-between);
    @include flex(1 0 auto);
    @media #{$large-and-up} {
      @include flex(0 1 auto);
    }
  }
}

#include-terms {
  ol {
    padding: 0 20px;
  }
}

.card {
  &.card.small {
    position: relative;

    .card-image+.card-content {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 15px;
    }

    .card-image {
      max-height: 78%;
    }

    .card-title {
      font-size: 25px !important;
    }
  }

  .card-content {
    .card-title {
      line-height: 30px;
      font-size: 20px;
    }
  }
}

.carousel {
  height: 600px;
  perspective: 700px;
}

.menu {
  &__title p {
    font-size: 2rem;
    text-decoration: underline;

    @media #{$medium-and-up} {
      font-size: 2.8rem;
    }
  }

  &__subtitle {
    &--left {
      margin-bottom: 0.3rem;
      text-align: left;
    }

    p {
      font-size: 1.8rem;
      text-decoration: underline;
      margin-bottom: 0.5rem;

      @media #{$medium-and-up} {
        font-size: 2rem;
      }
    }
  }

  &__item {
    @include display-flex;
    @include flex-direction(row);
    @include justify-content(center);
    margin-bottom: 0.3rem;

    span {
      @media #{$medium-and-up} {
        font-size: 1.6rem;
      }

      &:first-child {
        text-align: left;
        margin-right: 1rem;
      }

      &:last-child {
        white-space: nowrap;
      }
    }
  }

  &__space {
    margin: 0.8rem 0;
  }
}