<div class="navbar-fixed">
  <nav class="primary">
    <div class="nav-wrapper container">
      <a href="{{site.baseurl}}/" class="brand-logo"><img src="/images/logo2.png" class="img" alt="Callorens logo"></a>
      <a href="{{site.baseurl}}/" data-target="mobile-demo" class="sidenav-trigger">
        <i class="material-icons">menu</i>
      </a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{{site.baseurl}}/">Inicio</a></li>
        <li><a href="{{site.baseurl}}/almuerzos">Almuerzos</a></li>
        <li><a href="{{site.baseurl}}/brasas">Brasas</a></li>
        <li><a href="{{site.baseurl}}/carta">Carta</a></li>
        <li><a href="{{site.baseurl}}/contacto">Contacto</a></li>
      </ul>
    </div>
  </nav>
</div>

<ul class="sidenav" id="mobile-demo">
  <li><a href="{{site.baseurl}}/">Inicio</a></li>
  <li><a href="{{site.baseurl}}/almuerzos">Almuerzos</a></li>
  <li><a href="{{site.baseurl}}/brasas">Brasas</a></li>
  <li><a href="{{site.baseurl}}/carta">Carta</a></li>
  <li><a href="{{site.baseurl}}/contacto">Contacto</a></li>
  <div class="languages">
    <a class="i18n-flag" href="/"><img src="/images/es.png" alt=""></a>
    <a class="i18n-flag" href="/val"><img src="/images/val.png" alt=""></a>
    <a class="i18n-flag" href="/en"><img src="/images/en.png" alt=""></a>
  </div>
</ul>
